<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data> 
      <menuitem id="menu_asset_root" name="Asset &amp; Tracking" sequence="10" web_icon="asset_tracking_system,static/description/investment.png"/>
      <menuitem id="menu_asset_assets" name="Assets Register" parent="asset_tracking_system.menu_asset_root" action="account_asset.action_account_asset_form" sequence="1"/>

      <record id="ir_action_server_receive_asset" model="ir.actions.server">
          <field name="name">Asset to receive</field>
          <field name="type">ir.actions.server</field>
          <field name="model_id" ref="asset_tracking_system.model_asset_tracking" />
          <field name="state">code</field>
          <field name="groups_id" eval="[(6, 0, [ref('base.group_user')])]"/>
          <field name="code">action=model.sudo().get_filtered_received_record()</field>
      </record>
      <record id="menu_action_tracking_assets" model="ir.actions.act_window">
        <field name="name">Assets</field>
        <field name="res_model">asset.tracking</field>
        <field name="view_mode">tree,form</field>
      </record> 
      <record id="menu_action_transfer_tracking_assets" model="ir.actions.act_window">
        <field name="name">Assets transfer</field>
        <field name="res_model">asset.tracking</field>
        <field name="view_mode">tree,form</field>
        <field name="domain">[('state', 'in', ['draft','received'])]</field>
      </record>  
 
      <menuitem id="menu_asset_setup"
                name="Setup"
                sequence="100"
                parent="menu_asset_root" />

      <menuitem id="menu_asset_items"
                name="Manage Assets &amp; Tracking"
                parent="menu_asset_root"
                sequence="20" />
      <menuitem id="menu_asset_transfered_items"
                name="Transfered Assets"
                parent="menu_asset_items"
                sequence="10"
                action="menu_action_transfer_tracking_assets"/>
      <menuitem id="menu_asset_receive_items"
                name="Assets to Receive"
                parent="menu_asset_items"
                sequence="20"
                action="ir_action_server_receive_asset"/>

        

      <menuitem id="menu_parent_asset_items"
                name="Parent Assets"
                parent="menu_asset_setup"
                sequence="10"
                action="account_asset.action_account_asset_model_form"/>

        <menuitem id="menu_asset_location_items"
                name="Assets location"
                parent="menu_asset_setup"
                sequence="12"
                action="ik_multi_branch.action_res_multi_branch_form"/>
    </data>
  </odoo>